@import url("style1.css");

.root {
    -fx-padding: 0px 10px 10px 10px;
}

.vbox {
    -fx-spacing: 7px;
}


.menu-bar {
    -fx-font-size: 14px;
    -fx-background-color: transparent;
}

.menu-bar .menu {
    -fx-background-color: element-color1;
    -fx-background-radius: 10px;
}

.menu-bar .menu .label {
    -fx-text-fill: text-color;
}

.menu-bar .menu:showing {
    -fx-background-color: element-color2;
}

.menu-bar .menu:hover {
    -fx-background-color: derive(element-color1, 20%);
}


.menu-bar .menu-item {
    -fx-background-color: element-color1;
    -fx-border-width: 2px 1px 2px 1px;
    -fx-border-color: back-color;
}

.menu-bar .menu-item:hover {
    -fx-background-color: derive(element-color1, 20%);
}

.menu-bar .menu .radio-menu-item:selected {
    -fx-background-color: element-color2;
}

.menu-bar .context-menu {
    -fx-padding: 0px;
    -fx-background-color: back-color;
    -fx-border-color: derive(element-color1, -20%);
    -fx-border-width: 3px;
}

.menu-bar .context-menu {
    -fx-spacing: 3px;
}



#chatLabel {
    -fx-background-color: element-color1;
    -fx-background-radius: 10px;
    -fx-padding: 0px 8px 0px 8px;

    -fx-font-size: 32px;
    -fx-font-weight: bold;

    -fx-text-fill: text-color;
}


.list-view {
    -fx-background-radius: 15px;
    -fx-background-color: element-color1;
    -fx-padding: 5px;
}

.list-view .list-cell {
    -fx-background-color: transparent;
    -fx-padding: 5px 100px 5px 5px;

    -fx-min-width: 600px;
    -fx-pref-width: 600px;
    -fx-max-width: 600px;
}

.list-view .list-cell:empty {
    visibility: hidden;
}

.list-view .list-cell .label {
    -fx-background-radius: 10px;
    -fx-background-color: element-color2;
    -fx-padding: 0.5em;

    -fx-text-fill: text-color;
    -fx-wrap-text: true;
}

.list-view .scroll-bar .increment-button,
.list-view .scroll-bar .decrement-button,
.list-view .scroll-bar .increment-arrow,
.list-view .scroll-bar .decrement-arrow {
    visibility: hidden;
    -fx-padding: 2px;
}

.list-view .scroll-bar .track-background {
    -fx-background-color: element-color1;
}

.list-view .scroll-bar .thumb {
    -fx-background-color: element-color2;
    -fx-background-radius: 10px;
    -fx-opacity: 0.7;
    -fx-border-color: transparent;
}

.list-view .corner {
    -fx-background-color: transparent;
}


.hbox {
    -fx-spacing: 10px;
}

.text-field {
    -fx-background-radius: 10px;
    -fx-background-color: element-color1;

    -fx-text-fill: text-color;
    -fx-prompt-text-fill: element-color2;
}

.text-field:hover {
    -fx-background-color: derive(element-color1, 20%);
}


.button {
    -fx-background-color: element-color1;
    -fx-text-fill: text-color;

    -fx-background-radius: 10px;
}

.button:armed {
    -fx-background-color: element-color2;
}

.button:hover {
    -fx-background-color: derive(element-color1, 20%);
}